[Unit]
Description=Tenforce/Stardog Docker container
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=10
# ExecStartPre=-/usr/bin/docker kill my-stardog0
# ExecStartPre=-/usr/bin/docker rm my-stardog0
ExecStart=/usr/bin/docker run --name=my-stardog0 -p 5820:5820 my-stardog
ExecStop=/usr/bin/docker stop -a my-stardog0

[Install]
WantedBy=multi-user.target
Alias=stardog.service
