[Unit]
Description=Tenforce/Virtuoso Docker container
After=docker.service
Requires=docker.service

[Service]
Type=
ExecStart=/usr/bin/docker start -a my-virtuoso
ExecStartPost=/bin/sleep 3
ExecStop=/usr/bin/docker stop -a my-virtuoso
Restart=always

[Install]
WantedBy=multi-user.target
Alias=virtuoso.service
